.footer-cta {
    background: $green;
    text-align: center;
    color: #fff;
    padding: 3rem 15px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2rem;

    a {
        color: #fff;
    }
}